<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from educhamp.themetrades.com/demo/admin/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 13:10:19 GMT -->
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />

	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="../error-404.html" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="classassets/images/favicon.png" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>KRS</title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/classassets/css/assets.css">
	<link rel="stylesheet" type="text/css" href="~/classassets/vendors/calendar/fullcalendar.css">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/classassets/css/typography.css">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/classassets/css/shortcodes/shortcodes.css">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="~/classassets/css/style.css">
	<link rel="stylesheet" type="text/css" href="~/classassets/css/dashboard.css">
	<link class="skin" rel="stylesheet" type="text/css" href="~/classassets/css/color/color-1.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
	<style>
		.ck-editor__editable[role="textbox"] {
			/* Editing area */
			min-height: 200px;
		}
	</style>
</head>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">
	<header class="ttr-header">
		<div class="ttr-header-wrapper">
			</div>
			<div class="ttr-header-right ttr-with-seperator">
				<ul class="ttr-header-navigation">
				</ul>
			</div>
		</div>
	</header>

	@RenderBody()
	<script src="~/classassets/js/jquery.min.js"></script>
	<script src="~/classassets/vendors/bootstrap/js/popper.min.js"></script>
	<script src="~/classassets/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/classassets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="~/classassets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<script src="~/classassets/vendors/magnific-popup/magnific-popup.js"></script>
	<script src="~/classassets/vendors/counter/waypoints-min.js"></script>
	<script src="~/classassets/vendors/counter/counterup.min.js"></script>
	<script src="~/classassets/vendors/imagesloaded/imagesloaded.js"></script>
	<script src="~/classassets/vendors/masonry/masonry.js"></script>
	<script src="~/classassets/vendors/masonry/filter.js"></script>
	<script src="~/classassets/vendors/owl-carousel/owl.carousel.js"></script>
	<script src='~/classassets/vendors/scroll/scrollbar.min.js'></script>
	<script src="~/classassets/js/functions.js"></script>
	<script src="~/classassets/vendors/chart/chart.min.js"></script>
	<script src="~/classassets/js/admin.js"></script>


	<script>
		ClassicEditor
			.create(document.querySelector('#description'))
			.catch(error => {
				console.error(error);
			});
	</script>

</body>

</html>
