@model KRS_G54.Models.Exam

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="~/ckeditor/ckeditor.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title">Edit Exam</h4>
                </div>
                <div class="card-body">
                    <form method="post" id="examForm">
                        <input type="hidden" asp-for="ExamId" />
                        <div class="form-group">
                            <label for="name">Exam Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" asp-for="ExamName" required>
                        </div>
                        <div class="form-group">
                            <label for="IdClass">Class Name <span class="text-danger">*</span></label>
                            <input type="text" id="IdClass" class="form-control" value="@ViewBag.Class.ClassName" readonly />
                        </div>

                        <div class="form-group">
                            <label for="IdSubject">Subject Name <span class="text-danger">*</span></label>
                            <input type="text" id="IdSubject" class="form-control" value="@ViewBag.Subject.SubjectName" readonly />
                        </div>
                        <div class="form-group">
                            <label for="time">Time (minutes) <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="time" asp-for="TimeCount" min="1" max="90" required>
                        </div>
                        <div class="form-group">
                            <label for="createdDate">Start Date <span class="text-danger">*</span></label>
                            <input type="text" class="form-control datetimepicker-input" id="createdDate" name="createdDate" data-toggle="datetimepicker" data-target="#createdDate" required />
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date <span class="text-danger">*</span></label>
                            <input type="text" class="form-control datetimepicker-input" id="endDate" name="endDate" data-toggle="datetimepicker" data-target="#endDate" required />
                        </div>
                        <div class="text-danger" id="dateError" style="display: none;">End Date cannot be earlier than Start Date.</div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/5.39.0/css/tempus-dominus.min.css" integrity="sha512-Zv4tsNEf3YeBnxpb7v8zuyav7I9H60a1kCEk5FGszP0b0BzzUz5bgTpxdZ6kQs8FIj/xsE8V4pT/Io+TCEbhFg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/5.39.0/js/tempus-dominus.min.js" integrity="sha512-QwEC2Er5n6Z7esGHbK/A0sA9F5X9TFDb04Wl4YEdQ1vY+60ZLe4YWILVhGaf0ME1DZbRMCz5D/mTsoICgKaaAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Lấy giá trị từ ViewBag
        var createdDate = '@ViewBag.StartDate';
        var endDate = '@ViewBag.EndDate';

        // Khởi tạo datetimepicker và thiết lập giá trị mặc định
        $('#createdDate').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            defaultDate: createdDate
        });
        $('#endDate').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            defaultDate: endDate,
            useCurrent: false // Important! See issue #1075
        });

        // Ensure end date is not before start date
        $('#examForm').on('submit', function (e) {
            var startDate = $('#createdDate').datetimepicker('date');
            var endDate = $('#endDate').datetimepicker('date');

            if (endDate.isBefore(startDate)) {
                e.preventDefault();
                $('#dateError').show();
            } else {
                $('#dateError').hide();
            }
        });
    });
</script>
