@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Exam Name:</h4>
                    <div>
                        @if (ViewBag.Exam != null)
                        {
                            <span id="ExamName" class="form-control">@ViewBag.Exam.ExamName</span>
                            <input type="hidden" name="ExamId" value="@ViewBag.Exam.ExamId" />
                        }
                        else
                        {
                            <p>No exam selected.</p>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <form id="exam-form">
                        <div id="questions-container">
                            <div class="mb-4 question-block" data-question-index="1">
                                <h5>Question 1:</h5>
                                <input type="hidden" id="knowledge_1_id" name="knowledge_1_id" />
                                <textarea id="knowledge_1" name="knowledge_1" class="form-control mb-2"></textarea>
                                <div id="answer-container-1" class="mb-2">
                                    <div class="answer-block d-flex align-items-center mb-2">
                                        <label class="form-label me-2">Answer 1:</label>
                                        <input type="text" id="answer_1_1" class="form-control me-2 answer-input answer-input-1" required>
                                        <div class="d-flex align-items-center ms-2">
                                            <input type="checkbox" class="form-check-input me-1" name="ra" id="ra_1_1" style="transform: scale(1.5);">
                                            <label for="ra_1_1" class="form-label ms-1">Correct Answer</label>
                                        </div>
                                        <button type="button" class="btn btn-danger btn-sm ms-2 remove-answer">x</button>
                                    </div>
                                </div>
                                <button type="button" id="add_answer_1" class="btn btn-success btn-sm me-2 add-answer">Add Answer</button>
                                <button type="button" class="btn btn-danger btn-sm remove-question">Remove Question</button>
                            </div>
                        </div>
                        <button type="button" id="add_question" class="btn btn-primary btn-sm">Add Question</button>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" id="create-question">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let questionIndex = 1;

        function createAnswerBlock(questionId, answerIndex) {
            return `
                        <div class="answer-block d-flex align-items-center mb-2">
                            <label class="form-label me-2">Answer ${answerIndex}:</label>
                            <input type="text" class="form-control me-2 answer-input answer-input-${questionId}" id="answer_${questionId}_${answerIndex}" required>
                            <div class="d-flex align-items-center ms-2">
                                <input type="checkbox" class="form-check-input me-1" name="ra_${questionId}" id="ra_${questionId}_${answerIndex}" style="transform: scale(1.5);">
                                <label for="ra_${questionId}_${answerIndex}" class="form-label ms-1">Correct Answer</label>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm ms-2 remove-answer">x</button>
                        </div>
                    `;
        }

        function createQuestionBlock(questionIndex) {
            return `
                        <div class="mb-4 question-block" data-question-index="${questionIndex}">
                            <h5>Question ${questionIndex}:</h5>
                            <input type="hidden" id="knowledge_${questionIndex}_id" name="knowledge_${questionIndex}_id" />
                            <textarea id="knowledge_${questionIndex}" name="knowledge_${questionIndex}" class="form-control mb-2"></textarea>
                            <div id="answer-container-${questionIndex}" class="mb-2">
                                <div class="answer-block d-flex align-items-center mb-2">
                                    <label class="form-label me-2">Answer 1:</label>
                                    <input type="text" id="answer_${questionIndex}_1" class="form-control me-2 answer-input answer-input-${questionIndex}" required>
                                    <div class="d-flex align-items-center ms-2">
                                        <input type="checkbox" class="form-check-input me-1" name="ra_${questionIndex}" id="ra_${questionIndex}_1" style="transform: scale(1.5);">
                                        <label for="ra_${questionIndex}_1" class="form-label ms-1">Correct Answer</label>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-sm ms-2 remove-answer">x</button>
                                </div>
                            </div>
                            <button type="button" id="add_answer_${questionIndex}" class="btn btn-success btn-sm me-2 add-answer">Add Answer</button>
                            <button type="button" class="btn btn-danger btn-sm remove-question">Remove Question</button>
                        </div>
                    `;
        }

        function renumberQuestions() {
            $(".question-block").each(function (index) {
                let newIndex = index + 1;
                $(this).attr("data-question-index", newIndex);
                $(this).find("h5").text(`Question ${newIndex}:`);
                $(this).find("textarea").attr("id", `knowledge_${newIndex}`).attr("name", `knowledge_${newIndex}`);
                $(this).find("input[type=hidden]").attr("id", `knowledge_${newIndex}_id`).attr("name", `knowledge_${newIndex}_id`);
                $(this).find(".answer-block").each(function (answerIndex) {
                    $(this).find(".form-label").first().text(`Answer ${answerIndex + 1}:`);
                    $(this).find(".answer-input").attr("id", `answer_${newIndex}_${answerIndex + 1}`);
                    $(this).find(".form-check-input").attr("name", `ra_${newIndex}`).attr("id", `ra_${newIndex}_${answerIndex + 1}`);
                    $(this).find("label[for]").attr("for", `ra_${newIndex}_${answerIndex + 1}`);
                });
                $(this).find(".add-answer").attr("id", `add_answer_${newIndex}`);
            });
            questionIndex = $(".question-block").length;
        }

        $("#add_question").click(function () {
            questionIndex++;
            $("#questions-container").append(createQuestionBlock(questionIndex));
        });

        $(document).on("click", ".add-answer", function () {
            let questionId = $(this).attr("id").split("_")[2];
            let container = $(`#answer-container-${questionId}`);
            let answerIndex = container.find(".answer-block").length + 1;
            container.append(createAnswerBlock(questionId, answerIndex));
        });

        $(document).on("click", ".remove-answer", function () {
            $(this).closest('.answer-block').remove();
            renumberQuestions();
        });

        $(document).on("click", ".remove-question", function () {
            $(this).closest('.question-block').remove();
            renumberQuestions();
        });

        $("#create-question").click(function () {
            let knowledgeList = [];

            $(".question-block").each(function () {
                let questionId = $(this).data("question-index");
                let knowledgeName = $(`#knowledge_${questionId}`).val();

                if (!knowledgeName) {
                    return;
                }

                let answers = [];
                $(`#answer-container-${questionId}`).find(".answer-block").each(function () {
                    let answer = $(this).find(".answer-input").val();
                    let isKey = $(this).find(".form-check-input").is(':checked');
                    answers.push({
                        AnswerOption1: answer,
                        IsKey: isKey
                    });
                });

                knowledgeList.push({
                    KnowledgeId: questionId,
                    KnowledgeName: knowledgeName,
                    Answers: answers
                });
            });

            let data = {
                ExamId: $('input[name=ExamId]').val(),
                KnowledgeList: knowledgeList
            };

            console.log(data);

            $.ajax({
                type: 'POST',
                url: '/Home/CreateQuestion',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response) {
                        alert('Success!');
                        window.location.href = '/Home/Exam'; // Redirect to Index page of Exam controller
                    } else {
                        alert('Error occurred!');
                    }
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        });
    });
</script>