

@using Microsoft.AspNetCore.Mvc.Rendering
@model KRS_G54.Models.Account

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />
    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png" />
    <!-- PAGE TITLE HERE ============================================= -->
    <title>KRS </title>
    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/assets.css">
    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/typography.css">
    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/shortcodes/shortcodes.css">
    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/assets/css/color/color-1.css">
    <style>
        .account-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body id="bg">
     <div class="account-container">
        <div>
            <img src="~/assets/images/logo-white-2.png">
        </div>
        <div>
            <p>@ViewBag.Error</p>
        </div>
        <div class="heading-bx left">
            <h3 class="title-head">Reset Your Password</h3>
        </div>
        <form class="contact-bx" method="post" asp-action="ResetPassword">
            <div class="form-group">
                <div class="input-group">
                    <h5>New Password</h5>
                    <input type="password" class="form-control" name="newPassword" style="padding-left: 10px;" required>
                </div>
                <div class="input-group">
                    <h5>Confirm New Password</h5>
                    <input type="password" class="form-control" name="confirmNewPassword" style="padding-left: 10px;" required>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn button-md">Reset Password</button>
            </div>
          
        </form>
    </div>

    </div>


    <!-- External JavaScripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendors/counter/waypoints-min.js"></script>
    <script src="~/assets/vendors/counter/counterup.min.js"></script>
    <script src="~/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/assets/vendors/masonry/masonry.js"></script>
    <script src="~/assets/vendors/masonry/filter.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/js/functions.js"></script>
    <script src="~/assets/js/contact.js"></script>

</body>

</html>

