@model KRS_G54.Models.Lesson
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h1>Create Lesson</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>Topic<span class="text-danger">*</span></label>
                    <input asp-for="Topic" class="form-control" />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label>Slot<span class="text-danger">*</span></label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>Subject</label>
                    <select asp-for="SubjectId" class="form-control" asp-items="@ViewBag.SubjectSelectList">
                    </select>
                </div>
            </div>
           
            <div>
                @Html.ActionLink("Back to List", "Index",new {}, new {@class = "btn btn-outline-primary text-black mr-2"})
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


