@model KRS_G54.Models.Semester
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit Semester</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-6" style="display:none">
                <label asp-for="SemesterId" class="control-label"></label>
                <input asp-for="SemesterId" class="form-control" readonly />
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="SemesterName" class="control-label"></label>
                    <input asp-for="SemesterName" class="form-control" />
                    <span asp-validation-for="SemesterName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.ActionLink("Back to List", "Index",new {}, new {@class = "btn btn-outline-primary text-black mr-2"})
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

